@model IEnumerable<ViTrine.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a asp-controller="Chat" asp-action="Index" asp-route-id="@ViewBag.LojaId">Chat</a> |
    <a asp-action="Create" asp-route-id="@ViewBag.LojaId">Adicionar Produto</a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Categoria
            </th>
            <th>
                Promoção
            </th>
            <th>
                Preço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromocaoProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoProduto)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.ProdutoId">Editar</a> |
                <a asp-action="Read" asp-route-id="@item.ProdutoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
