@model PaginatedList<ViTrine.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a asp-controller="Chat" asp-action="Index" asp-route-id="@ViewBag.LojaId">Chat</a> |
    <a asp-action="Create" asp-route-id="@ViewBag.LojaId">Adicionar Produto</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Pesquisar" class="btn btn-default" />
            <br />
            <a asp-action="Index" asp-route-id="@ViewBag.LojaId">Limpar</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Categoria
            </th>
            <th>
                Promoção
            </th>
            <th>
                Preço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PromocaoProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecoProduto)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.ProdutoId">Editar</a> |
                    <a asp-action="Read" asp-route-id="@item.ProdutoId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProdutoId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>