@model PaginatedList<ViTrine.Models.Produto>
@{
    Layout = "_LayoutCliente";
}
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('@Url.Content("~/images/bg-01.jpg")');">
    <h2 class="ltext-105 cl0 txt-center">
        <a asp-controller="Cliente" asp-action="Sobre" asp-route-id="@ViewBag.LojaId">
            Conheça a Loja
        </a>
    </h2>
</section>
<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    Todos Produtos
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".True">
                    Promoção
                </button>
            </div>

            <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                Search
            </div>
        </div>

        <!-- Search product -->
        <div class="dis-none panel-search w-full p-t-10 p-b-15">
            <div class="bor8 dis-flex p-l-15">
                <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                    <i class="zmdi zmdi-search"></i>
                </button>
                <form asp-action="Produto" method="get">
                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Search">
                </form>
            </div>
        </div>

        <div class="row isotope-grid">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @item.PromocaoProduto">
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="~/images/@Html.DisplayFor(modelItem => item.UrlFotoProduto)" alt="IMG-PRODUCT">
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a>
                                    @Html.DisplayFor(modelItem => item.NomeProduto)
                                </a>

                                <span class="stext-105 cl3">
                                    @Html.DisplayFor(modelItem => item.PrecoProduto)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Produto"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Produto"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>
